---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h1 class="post-title">
          {{ post.title }}
      </h1>
      {% if post.image %}
        <img src="{{ site.baseurl }}{{ post.image }}" class="homethumbnail"><br>
      {% endif %}
    </a>

    <div class="post-info">
      <span class="post-date">
        <i class="genericons-neue genericons-neue-week"></i>
        <time class="entry-date published" datetime="{{ post.date | date_to_xmlschema}}">
          {{ post.date | date: "%Y-%m-%d" }}
        </time>
      </span>
      <span class="post-category">
        {% for category in post.categories %}
          <i class="genericons-neue genericons-neue-category"></i>
          <a class="post-category" href="{{ site.baseurl }}/category/{{ category }}">
            {{ category }}
          </a>
        {% endfor %}
      </span>
    </div>

    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more</a>
  </div>
  <hr>
  {% endfor %}
</div>

<!-- Pagination -->
<nav aria-label="pagenation navbar">
  <ul class="pagination justify-content-center pagination-lg">
    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ site.baseurl }}/page{{paginator.next_page}}">
          <i class="genericons-neue genericons-neue-previous"></i>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="{{ site.baseurl }}/">
          <i class="genericons-neue genericons-neue-previous"></i>
        </a>
      </li>
    {% endif %}

    <li class="page-item disabled">
      <a class="page-link" href="{{ site.baseurl }}/">
        ページ {{ paginator.page }} / {{ paginator.total_pages }}
      </a>
    </li>

    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <li class="page-item">
          <a class="page-link" href="{{ site.baseurl }}/">
            <i class="genericons-neue genericons-neue-next"></i>
          </a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
            <i class="genericons-neue genericons-neue-next"></i>
          </a>
        </li>
      {% endif %}
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="{{ site.baseurl }}/">
          <i class="genericons-neue genericons-neue-next"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
